<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css"
		/>
		<title>HOME - QAP2</title>
	</head>

	<body>
		<nav>
			<div class="nav-links">
				<a href="home.html">Home</a>
				<a href="products.html">Products</a>
				<a href="about.html">About</a>
				<a href="contact.html">Contact</a>
				<a href="faq.html">FAQ</a>
				<a href="links.html">Links</a>
			</div>
		</nav>
		<h1>HOME - QAP2</h1>
		<p>This is the home page.</p>
	</body>
</html>
